.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.switchers {
    flex-wrap: wrap;
    padding: 16px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 16px;
}

.item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    text-decoration: none;
}

.link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: nowrap;
}

.icon {
    margin-right: 10px;
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        display: none;
        transition: display 0.3s ease-in-out;
        width: 0;
    }
}
