.app_dark_theme {
    --bg-color: #222121;
    --inverted-bg-color: #e8e8e8;
    --primary-color: #e90ecc;
    --secondary-color: #316977;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e8;
}
